<!DOCTYPE html>
<html lang="pl">
<head>
    <base href="/">
    <title>Home Design Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="Shop/content/dist/images/favicon.ico" />
    <link rel="stylesheet" href="Shop/content/dist/css/style.css">
    <script src="Shop/content/dist/js/bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="column float-right mt-3">
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube-square"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <a href="/Shop">
        <div class="container-fluid jumbotron bg-white text-center text-dark">
            <h1><strong>HOME<br />SWEETHOME.PL</strong></h1>
            <h5>rzeczy które pokochasz ♥️</h5>
        </div>
    </a>

    <nav class="navbar navbar-expand-lg navbar-light bg-light lighten-5 mb-4 sticky-top">


        <a class="navbar-brand text-center ml-3 mr-5" href="/Shop" ng-click="scroll()"><h6><strong>HOME<br />SWEETHOME.PL</strong></h6></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/produkty" style="color: #e60505">WYPRZEDAŻ</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">KATEGORIE</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/produkty">SALON</a>
                        <a class="dropdown-item" href="/produkty">SYPIALNIA</a>
                        <a class="dropdown-item" href="/produkty">KUCHNIA</a>
                        <a class="dropdown-item" href="/produkty">ŁAZIENKA</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="wysylka">WYSYŁKA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="onas">O NAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kontakt">KONTAKT</a>
                </li>

            </ul>
            <div ng-class="{'shaking-shopping-basket': shoppingBasketService.isBasketShaking}">
            <span class="fa-stack fa-2x has-badge" style="width: 1.5em !important;" data-count="{{shoppingBasketService.getTotalItemCount()}}">
                <a class="nav-icon" href="/koszyk"><i class="fa fa-shopping-basket"></i></a>
            </span>
                </div>


            <button class="btn btn-outline-secondary mr-3 dropdown" ng-click="openForm()"><i class="fa fa-user"></i> ZALOGUJ SIĘ</button>
            <div class="dropdown-menu" style="left: auto !important; right: 0 !important" id="myForm">
                <form class="form-container sticky-top">
                    <h4>LOGOWANIE</h4>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Wpisz Email" name="email" required>

                    <label for="psw"><b>Hasło</b></label>
                    <input type="password" placeholder="Wpisz hasło" name="psw" required>

                    <button type="submit" class="btn">ZALOGUJ</button>
                    <button type="button" class="btn cancel" ng-click="closeForm()">ZAMKNIJ</button>
                </form>
            </div>

            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Szukaj..." aria-label="Search" ng-model="searchText">
            </form>
        </div>

    </nav>


    <!-- Content goes HERE -->
    <div ng-view></div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <div class="row">

            <div class="col-md-4">
                <h6><strong>ZAMÓWIENIA INTERNETOWE:</strong></h6><br />
                <p><a href="mailto:kinga.skaskiewicz@gmail.com" class="email"><i class='fas fa-envelope'></i> kinga.skaskiewicz@gmail.com</a></p>
                <p><i class='fas fa-phone-alt'></i> +48 694718605</p><br />
                <h6><strong>SKLEP STACJONARNY:</strong></h6><br />
                <p><i class='fas fa-map-marker-alt'></i> Rynek Główny, Kraków</p>
            </div>

            <div class="col-md-4">
                <h6><strong>INFORMACJE:</strong></h6><br />
                <ul>
                    <li>
                        <a href="wysylka" class="link-footer">WYSYŁKA</a>
                    </li>
                    <li>
                        <a href="onas" class="link-footer">O NAS</a>
                    </li>
                    <li>
                        <a href="kontakt" class="link-footer">KONTAKT</a>
                    </li>
                </ul>
                <br />
                <h6><strong>ZNAJDŹ NAS NA:</strong></h6><br />
                <a href="#" class="social-icon-footer"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon-footer"><i class="fab fa-youtube-square"></i></a>
                <a href="#" class="social-icon-footer"><i class="fab fa-instagram"></i></a>
            </div>

            <div class="col-md-4">
                <h7 class="copyrights">COPYRIGHTS © 2020 KINGA SKASKIEWICZ</h7>
                <br />
                <h7 class="copyrights">ALL PHOTOS BY PIXABAY.COM</h7>
            </div>

        </div>
    </div>

    <div class="fixed-bottom">
        <div class="toast" data-autohide="false" style="max-width: none; opacity: 0.9;">
            <div class="toast-header">
                <strong class="mr-auto text-dark">COOKIES <i class='fas fa-cookie-bite'></i></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                Ta strona używa plików cookie, aby zapewnić Ci jak najlepsze wrażenia podczas robienia zakupów. Korzystając z naszych usług, akceptujesz używanie takich plików.
            </div>
        </div>
    </div>








    <script src="Shop/content/src/js/app/main.js"></script>
    <script src="Shop/content/src/js/app/controllers/main.controller.js"></script>
    <script src="Shop/content/src/js/app/services/shopping-basket.service.js"></script>
</body>
</html>

