################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shop/bin/Debug/netcoreapp3.1
/Shop/node_modules
/Shop/obj
/.vs
