<div class="container">
    <div class="text-center m-3" ng-show="shoppingBasketService.ifBasketIsEmpty()">
        <h4>TWÓJ KOSZYK JEST PUSTY</h4>
        <h2><i class='far fa-sad-tear'></i></h2>
    </div>
    <table class="table table-hover" ng-hide="shoppingBasketService.ifBasketIsEmpty()">
        <thead>
            <tr class="text-center">
                <th>PRODUKT</th>
                <th>OPIS</th>
                <th>CENA</th>
                <th>ILOŚĆ</th>
                <th>USUŃ PRODUKT</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="basketItem in shoppingBasketService.basketItems" class="text-center">
                <td><img class="basket-image" ng-src="{{basketItem.image}}" /></td>
                <td ng-bind="basketItem.description"></td>
                <td ng-bind="(basketItem.price * basketItem.quantity).toFixed(2) + ' zł'"></td>
                <td><input type="number" ng-bind="basketItem.quantity" ng-model="basketItem.quantity" ng-model-options="{ debounce: 500 }" ng-change="shoppingBasketService.adjustQuantity(basketItem)"></td>
                <td><button type="button" class="btn btn-danger" ng-click="shoppingBasketService.removeItem(basketItem)">USUŃ</button></td>
            </tr>
        </tbody>
        <thead>
            <tr class="text-center thead-light">
                <th></th>
                <th></th>
                <th>SUMA</th>
                <th>ILOŚĆ</th>
                <th>KOD ZNIŻKOWY</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td></td>
                <td></td>
                <td><p class="discount-text" ng-bind="'-' + shoppingBasketService.getDiscountValue() + ' zł'" ng-show="shoppingBasketService.applyDiscountAppliedMessage !== ''"</p></td>
                <td></td>
                <td>
                    <p class="discount-text" ng-bind="shoppingBasketService.applyDiscountAppliedMessage" ng-show="shoppingBasketService.applyDiscountAppliedMessage !== ''"></p>
                    <p class="discount-text-wrong" ng-bind="shoppingBasketService.applyDiscountErrorMessage" ng-show="shoppingBasketService.applyDiscountErrorMessage !== ''"></p>
                </td>
            </tr>
            <tr class="text-center">
                <td></td>
                <td></td>
                <td ng-bind="shoppingBasketService.getTotalPrice() + ' zł'"></td>
                <td ng-bind="shoppingBasketService.getTotalQuantity()"></td>
                <td><input type="text" ng-model="shoppingBasketService.userInputDiscountCode"><button type="button" class="btn btn-success" ng-click="shoppingBasketService.applyDiscount()">UŻYJ</button></td>
            </tr>
        </tbody>
    </table>
</div>
