<div class="container" id="products">
    <div class="row">
        <div class="col-sm-4 p-0" ng-repeat="x in shopItems | filter:searchText">
            <a href="#" data-toggle="modal" data-target="#{{x.modal}}">
            <img class="product" ng-src="{{x.image}}" /></a>
            <button class="bnt btn-success btn-add" ng-click="shoppingBasketService.addItem(x)">+ DO KOSZYKA</button>
            <div class="product-info">
                <h5 ng-bind="x.description"></h5>
                <p class="price">{{x.price}} zł</p>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="x in shopItems">
    <div class="modal fade" id="{{x.modal}}">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-6">
                        <img class="content-image" ng-src="{{x.image}}">
                    </div>
                    <div class="col-md-6">
                        <div class="modal-header">
                            <h5 class="modal-title"><strong>HOME<br />SWEETHOME.PL</strong></h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <div class="modal-body mt-3">
                            <h4 class="font-weight-bold" ng-bind="x.description"></h4>
                            <br />
                            <p>Wspaniały produkt nadający się zarówno do pokoju dziecięcego jak i do sypialni. Neutralne i ponadczasowe kolory. Łatwe w utrzymaniu czystośći, posiada certyfikaty jakości. Zakup na lata którego z pewnością nie pożałujesz.</p>
                            <p>Skład materiału 100% poliester.</p>
                            <p>Wymiary: 100cm x 100cm</p>
                        </div>

                        <div class="modal-price">
                            <h4 class="font-weight-bold">{{x.price}} zł</h4>
                            <button class="bnt btn-success btn-add" ng-click="shoppingBasketService.addItem(x)">+ DO KOSZYKA</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>